<!DOCTYPE html>
<html ⚡4email data-css-strict>
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet" />
        <style>
            body {
                width: 100%;
                height: 100vh;
                margin: 0;
                padding: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                color: hsla(240, 10%, 15%, 1);
                -webkit-text-fill-color: hsla(240, 10%, 15%, 1) !important;
                background-image: linear-gradient(hsla(240, 100%, 99%, 1), hsla(240, 100%, 99%, 1));
                /* background-color: hsla(240, 100%, 99%, 1); */
            }

            .modal {
                width: 60%;
                max-width: 400px;
                padding: 48px;
                margin: 0 auto;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                text-align: center;

                border-radius: 8px;
                background-image: linear-gradient(hsl(0, 1%, 100%), hsl(0, 1%, 100%));
                filter: drop-shadow(0px 16px 40px hsla(240, 100%, 97%, 1));
            }

            #icon {
                margin-bottom: 16px;
            }

            #content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            #title {
                width: 100%;
                margin-top: 0;
                margin-bottom: 16px;

                font-family: "Inter", sans-serif;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0px;
                font-weight: 500;
            }

            .description {
                width: 100%;
                margin: 0;

                font-family: "Inter", sans-serif;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.26px;
                font-weight: 400;
            }

            .divider {
                width: 90%;
                height: 1px;

                margin-top: 48px;
                margin-bottom: 16px;

                /* background-color: hsla(240, 100%, 97%, 1); */
                background-image: linear-gradient(hsla(240, 100%, 97%, 1), hsla(240, 100%, 97%, 1));
                border: none;
            }

            #linksContainer {
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
            }

            .link {
                font-family: "Inter", sans-serif;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.26px;
                font-weight: 400;
                color: hsla(222, 88%, 58%, 1);
                -webkit-text-fill-color: hsla(222, 88%, 58%, 1) !important;
                text-decoration: none;

                transition: all 0.3s ease-in-out;
            }

            .link:hover {
                transform: translateY(-1px);
            }

            .link:active {
                transform: scale(0.98);
            }

            @media (max-width: 550px) {
                .modal {
                    margin: 0px 20px;

                    width: calc(100% - 40px);
                }
            }

            .spinner {
                display: inline-block;
                position: relative;
            }

            .spinner div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                border: 8px solid white;
                border-radius: 50%;
                animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

                border-color: hsla(222, 88%, 58%, 1) transparent transparent transparent;
            }

            .spinner div:nth-child(1) {
                animation-delay: -0.45s;
            }

            .spinner div:nth-child(2) {
                animation-delay: -0.3s;
            }

            .spinner div:nth-child(3) {
                animation-delay: -0.15s;
            }

            @keyframes spinner {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
    </head>

    <body>
        <div class="modal">
            <!-- ILLUSTRATION -->
            <i id="icon">
                <div id="spinner" class="spinner" style="width: 48px; height: 48px">
                    <div style="width: 48px; height: 48px"></div>
                    <div style="width: 48px; height: 48px"></div>
                    <div style="width: 48px; height: 48px"></div>
                    <div style="width: 48px; height: 48px"></div>
                </div>

                <div id="open_lock_img" hidden>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="48" height="48" rx="8" fill="url(#paint0_linear_720_1759)" />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M20.2 16C20.2 13.9013 21.9013 12.2 24 12.2C26.0987 12.2 27.8 13.9013 27.8 16V17C27.8 17.6627 28.3373 18.2 29 18.2C29.6627 18.2 30.2 17.6627 30.2 17V16C30.2 12.5758 27.4242 9.8 24 9.8C20.5758 9.8 17.8 12.5758 17.8 16V22H16C14.8954 22 14 22.8954 14 24V36C14 37.1046 14.8954 38 16 38H32C33.1046 38 34 37.1046 34 36V24C34 22.8954 33.1046 22 32 22H20.2V16Z"
                            fill="url(#paint1_linear_720_1759)"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_720_1759"
                                x1="24"
                                y1="0"
                                x2="24"
                                y2="48"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#F5F9FF" />
                                <stop offset="1" stop-color="#EBF3FF" />
                            </linearGradient>
                            <linearGradient
                                id="paint1_linear_720_1759"
                                x1="24.1587"
                                y1="8.8"
                                x2="24.1587"
                                y2="37"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#5E87FF" />
                                <stop offset="1" stop-color="#0E4CDC" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </i>

            <!-- CONTENT -->
            <div id="content">
                <p id="title"></p>
                <p id="details" class="description"></p>
            </div>
        </div>

        <script>
			import { main } from "./index.js"
			
			window.onload = async () => {
  				main();
			};
		</script>
    </body>
</html>
